{% load static %}
<header>
	<nav class="container navbar navbar-expand-lg navbar-light scrolling-navbar">
		<a class="navbar-brand" href="#"
			><img src="{% static 'images/awwards-logo.png'%}" alt="logo"
		/></a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="mr-auto"></div>
			<ul class="navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
					   Boni
					    <img class="rounded-circle nav-img"
                        src="{% static 'images/dp.jpg'%}"
						style="height:25px;width: 25px;"
                        alt="">
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-center" href="">Profile</a>
                        <hr>
                        <a class="dropdown-item text-center" href=""> Edit profile</a>
                        <hr>
                        <a href="{% url 'logout' %}" class="text-secondary text-center dropdown-item">Log Out</a>


                    </div>
                </li>
                
                <a href="{% url 'login' %}" class="login btn btn-sm btn-info"> REGISTER/LOGIN </a>
                
                <button class="btn btn-info btn-sm" id="site" data-toggle="modal" data-target=".bd-example-modal-xl">
                    Submit your site
                </button>
		</div>
	</nav>
</header>
