{% load static %}
<header>
	<nav class="container navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="{% url 'home'%}"
			><img src="{% static 'images/awwards-logo.png'%}" alt="logo"
		/></a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="mr-auto"></div>
			{% if user.is_authenticated %}
			<ul class="navbar-nav navbar-right">
				<li class="nav-item">
					<a href="{% url 'profile' request.user.username %}">boni <img class="rounded-circle nav-img"
                        src="{% static 'images/dp.jpg'%}"
						style="height:25px;width: 25px;"
                        alt=""></a> 
				</li>
                </li>
                
                <a href="{% url 'logout' %}" class="login btn btn-sm btn-info mr-2 ml-2"> Logout </a>
                <a href="{% url 'settings' request.user.username %}" class="login btn btn-sm btn-info mr-2 ml-2"> settings</a>
                
                
                <button class="btn btn-info btn-sm" id="site" data-toggle="modal" data-target=".bd-example-modal-xl">
                    Submit your site
                </button>
				{%else%}
				<a href="{% url 'login' %}" class="login btn btn-sm btn-info mr-2 ml-2"> LOGIN </a>

				{% endif %}
		</div>
	</nav>
</header>
