{% extends 'main.html'%} {% block content %}
<div class="container-fluid p-0">
	<div class="home">
		<div class="content">
			<p class="top-left">Site of the Day June 13,2022</p>
			<div class="inner-content">
				<p class="user">Santa Teresa</p>
				<p class="text-uppercase">By LG2 from canada with 7.46</p>
				<ul class="display-container">
					<li class="note-display">
						<figure class="CircleStrokeMeter" data-score="7.5">
							<svg width="48" height="48" viewBox="0 0 48 48">
								<circle cx="24" cy="24" r="20" />
								<circle cx="24" cy="24" r="20" pathLength="1" />
								<text x="24" y="30" text-anchor="middle">
									<tspan>7</tspan>
									<tspan>.5</tspan>
								</text>
							</svg>
							<figcaption>DESIGN</figcaption>
						</figure>
					</li>
					<li class="note-display">
						<figure class="CircleStrokeMeter" data-score="5.78">
							<svg width="48" height="48" viewBox="0 0 48 48">
								<circle cx="24" cy="24" r="20" />
								<circle cx="24" cy="24" r="20" pathLength="1" />
								<text x="24" y="30" text-anchor="middle">
									<tspan>5</tspan>
									<tspan>.78</tspan>
								</text>
							</svg>
							<figcaption>USABILITY</figcaption>
						</figure>
					</li>
					<li class="note-display">
						<figure class="CircleStrokeMeter" data-score="2.58">
							<svg width="48" height="48" viewBox="0 0 48 48">
								<circle cx="24" cy="24" r="20" />
								<circle cx="24" cy="24" r="20" pathLength="1" />
								<text x="24" y="30" text-anchor="middle">
									<tspan>2</tspan>
									<tspan>.58</tspan>
								</text>
							</svg>
							<figcaption>CREATIVITY</figcaption>
						</figure>
					</li>
					<li class="note-display">
						<figure class="CircleStrokeMeter" data-score="9.2">
							<svg width="48" height="48" viewBox="0 0 48 48">
								<circle cx="24" cy="24" r="20" />
								<circle cx="24" cy="24" r="20" pathLength="1" />
								<text x="24" y="30" text-anchor="middle">
									<tspan>9</tspan>
									<tspan>.2</tspan>
								</text>
							</svg>
							<figcaption>CONTENT</figcaption>
						</figure>
					</li>
				</ul>
			</div>
			<div class="btn btn-success">Visit site</div>
		</div>
	</div>
</div>
<div class="container">
    <h2 class="text-center pt-4">Websites ready to review</h2>
</div>

{% endblock %}
